body {
  background: linear-gradient(to right, #4568dc, #00a4d6);
  overflow: hidden; /* Hide scrollbars */
}

.box-panel {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 35px 0;
  padding-right: 35px;
}

.widget-container {
  transition: all 0.3s ease;
}
.widget-container .common-flip-style {
  width: 500px;
  height: 300px;
  cursor: pointer;
}
.widget-container .common-flip-style .common-box-style {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  border-radius: 10px;
}

.flip-box {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.flip-box .box-front {
  transform: none;
  z-index: 1;
  background-image: url("https://cdn.discordapp.com/attachments/991843288015450113/1017819130344259674/Layer_1_1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flip-box .box-back {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  transform: rotateX(0) rotateY(-180deg);
  background: #fff;
  border: 5px;
  border-style: solid;
  border-color: #4568dc;
}
.flip-box:hover .box-front {
  transform: rotateX(0) rotateY(180deg);
}
.flip-box:hover .box-back {
  transform: none;
}

.box-content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  transform: translateZ(90px);
}
